@import "partials/partials";

.faq-title {
    @extend %div100;
    margin-top: 15px;

    p {
        margin-bottom: 5px;
    }
}

.faq-item {
    @extend %div100;
    border-top: solid 1px #c8c8c8;
    margin-top: 10px;
    padding-top: 8px;

    &.last-faq {
        border-bottom: solid 1px #c8c8c8;
        padding-bottom: 10px;
    }

    .faq-question {
        @extend %div100;
        line-height: 20px;

        strong {
            display: inline;
            border-bottom: dashed 1px #4b4b4b;
            cursor: pointer;

            @include md-screen {
                border-bottom: dashed 1px #4b4b4b;
            }
        }

        &:hover, &.active {
            strong {
                border-bottom: none;
            }
        }
    }

    .faq-answer {
        @extend %div100;
        padding-top: 15px;
        display: none;
    }
}

.no-answer {
    @extend %div100;
    font-weight: bold;
    margin-top: 25px;
}

.no-answer-button {
    @extend %div100;
    margin-top: 10px;

    a {
        font-size: 15px;
    }
}