@import "partials/partials";

.news-list {
    margin-top: 10px;

    .news-list-row {
        margin: 0 -8px;
    }

    .col-md-4 {
        padding: 0 7px;

        @include smallest-screen {
            width: 100%;
        }
    }
}

.news-list-item {
    border-bottom: solid 1px #969696;
    padding-bottom: 20px;
    margin-bottom: 35px;
}

.news-list-image {
    img {
        width: 100%;
    }
}

.news-list-title {
    margin-top: 10px;
    text-align: center;

    h4 {
        font-size: 24px;
        font-family: 'BebasNeue', 'Arial';
        text-align: center;
        color: #c32b2a;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 26px;
        display: inline-block;
        position: relative;
        margin: 0 12px;

        &::before, &::after {
            position: absolute;
            content: '-';
            top: 0;
        }

        &::before {
            left: -12px;
            text-align: left;
        }

        &::after {
            right: -12px;
            text-align: right;
        }

        @include md-screen {
            font-size: 22px;
            line-height: 24px;
        }

        @include sm-screen {
            font-size: 20px;
            line-height: 22px;
        }
    }
}

.news-list-date {
    color: #afafaf;
    font-size: 12px;
    text-align: right;
    margin-top: 7px;
}

.news-list-announce {
    margin-top: 10px;
}

.news-list-more {
    position: absolute;
    right: 15px;
    bottom: -9px;
    margin-top: 17px;
    
    a {
        display: inline-block;
        background: url(../images/bg.png) no-repeat;
        color: #4b4b4b !important;
        text-decoration: underline !important;
        padding: 0 4px;

        &:hover {
            color: #c32b2a !important;
            text-decoration: none !important;
        }
    }
}

#news-show-content {
    @extend %div100;
    margin-top: 15px;
    padding-bottom: 25px;

    .news-show-description {
        padding-left: 5px;

        @include sm-screen {
            padding-left: 15px;
        }
    }

    .news-show-image {
        @extend %div100;
        margin-top: 3px;
        text-align: center;

        img {
            width: 100%;

            @include xs-screen {
                max-width: 450px;
            }
        }
    }

    .news-show-date {
        @extend %div100;
        color: #afafaf;
        font-size: 12px;

        @include sm-screen {
            margin-top: 14px;
        }
    }

    .news-show-text {
        @extend %div100;
        padding-bottom: 30px;

        @include sm-screen {
            padding-bottom: 15px;
        }
    }
}

.p-left-normal {
    padding-left: 15px !important;
}

.look-all-news {
    text-align: left;

    a {
        margin-left: 15px;
    }
}

.action-til-date {
    position: absolute;
    width: 100%;
    left: 5px;
    bottom: -4px;
    font-size: 12px;

    @include sm-screen {
        position: relative;
        float: left;
        width: 100%;
        height: auto;
        min-height: auto !important;
        left: auto;
        bottom: auto;
    }
}