@import "partials/partials";

@include load-font(BebasNeue, Bold, normal, bold);

*, *:focus {
    outline : none;
}

html, body {
    margin     : 0;
    padding    : 0;
    width      : 100%;
    //height: 100%;
    overflow-x : hidden;
}

body {
    font       : {
        family : 'Arial';
        size   : 15px;
    }
    line-height : 18px;
    color       : #4b4b4b;
    background  : url(../images/bg.png);
    overflow-x  : hidden;

    &::before {
        content : '1600';
        display : none;
    }

    @include md-screen {
        font-size : 14px;

        &::before {
            content : '1200';
        }
    }

    @include sm-screen {
        &::before {
            content : '992';
        }
    }

    @include xs-screen {
        font-size : 13px;

        &::before {
            content : '768';
        }
    }

    @include small-screen {
        &::before {
            content : '640';
        }
    }

    @include smallest-screen {
        &::before {
            content : '480';
        }
    }

    @include tiny-screen {
        &::before {
            content : '430';
        }
    }
}

header, section, footer, nav {
    display : block;
}

h1, h2, h3, h4, h5, h6, p {
    margin  : 0;
    padding : 0;
}

.container, .row {
    position : relative;
}

header, footer, .is-full {
    @extend %div100;
}

.is-lft {
    @extend %lft;
}

.is-rgt {
    @extend %rgt;
}

.is-abs {
    @extend %abs100;
}

.table-div {
    display : table;
    width   : 100%;
    height  : 100%;

    .cell-div {
        display        : table-cell;
        height         : 100%;
        vertical-align : middle;
    }
}

iframe {
    border : none !important;

    @include smallest-screen {
        height : 200px !important;
    }
}

#about h3, #footer-categories h3, #index-news h3, #zone h3, #actiions-title h3, #page-title h1, #inner-menu h5, .with-this h4, #index-menu-list h3 {
    display        : inline-block;
    position       : relative;
    font       : {
        family : 'BebasNeue', 'Arial';
        size   : 36px;
        weight : bold;
    }
    text-transform : uppercase;
    color          : #c32b2a;
    line-height    : 38px;
    margin         : 0 12px;

    &::before, &::after {
        position : absolute;
        content  : '-';
        top      : 0;
    }

    &::before {
        left       : -12px;
        text-align : left;
    }

    &::after {
        right      : -12px;
        text-align : right;
    }

    @include sm-screen {
        font-size   : 30px;
        line-height : 32px;
    }

    @include xs-screen {
        font-size   : 24px;
        line-height : 26px;
    }
}

.red-button {
    border-radius   : 2px;
    display         : inline-block;
    //padding: 0 16px;
    //height: 23px;
    line-height     : 22px;
    font-size       : 12px;
    text-transform  : uppercase;
    background      : #c32b2a;
    color           : #fff !important;
    text-decoration : none !important;
    transition      : 0.3s;

    &:hover {
        background : #ff4f4e;
    }

    &:active {
        background : #792726;
    }
}

.empty-p {
    margin-bottom : 40px;
}

.no-margin-top {
    margin-top : 0 !important;
}

.is-hidden {
    display : none;
}

.m-top-10 {
    margin-top : 10px;
}

@media (min-width : 1200px) {
    .index-container {
        width : 970px;
    }
}

/* Header */

header {
    background : url(../images/header.png) #fff repeat-x;
    position: fixed;
    z-index    : 12;

    #logo {
        display         : block;
        position        : absolute;
        width           : 280px;
        left            : -45px;
        top             : 10px;
        background      : url(../images/logo.png) top center no-repeat;
        padding-top     : 77px;
        font-size       : 12px;
        text-align      : center;
        color           : #5b5b5b !important;
        text-decoration : none !important;
        z-index         : 1;

        @include sm-screen {
            top         : 51px;
            left        : 50%;
            margin-left : -140px;
        }
    }

    #user-icons {
        position : absolute;
        height   : 17px;
        right    : 15px;
        top      : 11px;
        z-index  : 1;

        a {
            &#cabinet {
                display    : inline-block;
                width      : 17px;
                height     : 17px;
                background : url(../images/cabinet.png) no-repeat;
            }
        }

        & button {
            background : transparent;
            border     : none;
            color      : #fff;
        }

        & .caret {
            display : none;
        }

        & .dropdown {
            &:before {
                content    : '';
                display    : block;
                background : url(../images/cabinet.png) no-repeat;
                position   : absolute;
                width      : 17px;
                height     : 17px;
                left       : -18px;
            }

            &-menu {
                background     : #323232;
                border-radius  : 0;
                left           : auto;
                padding-bottom : 0;
                right          : 0;

                & li {
                    border-bottom : 1px solid #6a6a6a;

                    &:hover {
                        background : #ffe948;

                        & a {
                            color : #333;
                        }
                    }

                    & a {
                        color       : #fff;
                        line-height : 40px;

                        & strong {
                            color : #c32b2a;
                        }

                        &:hover {
                            background : transparent;
                        }
                    }
                }
            }
        }
    }

    #socials {
        position : absolute;
        width    : 80px;
        height   : 20px;
        right    : 11px;
        top      : 57px;

        @include sm-screen {
            top : 83px;
        }

        @include smallest-screen {
            left        : 50%;
            top         : 10px;
            margin-left : -40px;
        }

        a {
            &#instagram {
                @include smallest-screen {
                    background : url(../images/instagram-smallest.png) center no-repeat;
                }
            }

            &#facebook {
                @include smallest-screen {
                    background : url(../images/facebook-smallest.png) center no-repeat;
                }
            }

            &#vk {
                @include smallest-screen {
                    background : url(../images/vk-smallest.png) center no-repeat;
                }
            }
        }
    }

    .header-content {
        padding : 0 100px 0 225px;

        @include sm-screen {
            padding : 0;
        }

        .header-info-holder {
            margin-left : 30px;
            white-space : nowrap;

            @include sm-screen {
                width       : 100%;
                margin-left : 0;
            }

            #nav {
                line-height : 41px;

                @include sm-screen {
                    width      : 100%;
                    text-align : center;
                }

                @include small-screen {
                    display : none;
                }

                ul, li {
                    display         : block;
                    position        : relative;
                    float           : left;
                    margin          : 0;
                    padding         : 0;
                    list-style-type : none;
                }

                ul > li {
                    & > a, & > span {
                        color           : #fff !important;
                        text-transform  : uppercase;
                        font-size       : 12px;
                        text-decoration : none !important;
                        margin          : 0 20px;

                        @include xs-screen {
                            margin : 0 15px;
                        }
                    }

                    &:hover {
                        & > a, & > span {
                            color : #ffe100 !important;
                        }

                        ul {
                            display : block;
                        }
                    }

                    ul {
                        position   : absolute;
                        width      : 190px;
                        left       : 0;
                        top        : 41px;
                        background : #323232;
                        z-index    : 10;
                        border-top : solid 1px #404040;
                        display    : none;
                        text-align : left !important;

                        & > li {
                            display       : block;
                            @extend %div100;
                            border-bottom : solid 1px #404040;

                            a {
                                display        : block;
                                @extend %div100;
                                margin         : 0;
                                padding        : 10px 15px;
                                text-transform : none;
                                font-size      : 15px;
                                line-height    : 18px;

                                @include md-screen {
                                    font-size : 14px;
                                }

                                @include xs-screen {
                                    font-size : 13px;
                                }

                                &:hover, &.active {
                                    background : #c32b2a;
                                    color      : #fff !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.socials {
    a {
        display    : block;
        float      : right;
        width      : 20px;
        height     : 20px;
        transition : 0.3s;

        &#instagram, &.instagram {
            background  : url(../images/instagram.png) center no-repeat;
            margin-left : 6px;

            &:hover {
                background : url(../images/instagram-hover.png) center no-repeat;
            }
        }

        &#facebook, &.facebook {
            background  : url(../images/facebook.png) center no-repeat;
            margin-left : 10px;

            &:hover {
                background : url(../images/facebook-hover.png) center no-repeat;
            }
        }

        &#vk, &.vk {
            background : url(../images/vk.png) center no-repeat;

            &:hover {
                background : url(../images/vk-hover.png) center no-repeat;
            }
        }
    }
}

.phones {
    margin      : 13px 0 0 20px;
    line-height : 24px;
    cursor      : pointer;

    @include sm-screen {
        width      : 100%;
        text-align : center;
        margin     : 118px 0 0 0;
    }

    @include small-screen {
        margin-top : 92px;
    }

    .phones-holder {
        display    : inline-block;
        position   : relative;
        background : url(../images/yellow-phone.png) top left no-repeat;

        &.hovered {
            .phones-list {
                display : block;
            }
        }

        .main-phone {
            display       : inline-block;
            padding-right : 17px;
            position      : relative;

            a {
                color : #000;
            }

            .phones-handler {
                display    : inline-block;
                background : url(../images/down.png) center right no-repeat;
                height     : 15px;
                position   : absolute;
                right      : 3px;
                top        : 3px;
                width      : 15px;
            }
        }

        .phones-list, .phones-list li {
            display         : block;
            margin          : 0;
            padding         : 0;
            width           : 100%;
            list-style-type : none;
            background      : #fff;
            z-index         : 3;
            text-align      : left;
        }

        .phones-list {
            position           : absolute;
            width              : 155px;
            top                : 24px;
            left               : 20px;
            -webkit-box-shadow : 0px 0px 12px -1px rgba(0, 0, 0, 0.37);
            -moz-box-shadow    : 0px 0px 12px -1px rgba(0, 0, 0, 0.37);
            box-shadow         : 0px 0px 12px -1px rgba(0, 0, 0, 0.37);
            display            : none;

            li {
                @extend %div100;
                border-bottom : solid 1px #c8c8c8;
                line-height   : 30px;

                &:hover {
                    background : #ffe100;
                }

                span {
                    padding-left : 12px;
                }

                &:last-child {
                    border-bottom : none;
                }

                & a {
                    color : #000;
                }
            }
        }
    }

    span, strong {
        display : inline-block;
    }

    span {
        padding-left : 32px;
    }
}

.schedule {
    margin : 16px 20px 0 0;

    @include sm-screen {
        text-align : center;
        width      : 100%;
        margin     : 15px 0 0 0;
    }

    p:nth-child(2) {
        margin : 3px 0 15px;
        color  : #c32b2a;
    }
}

.curve-bottom {
    @extend %fs;
    position   : absolute;
    width      : 100%;
    height     : 6px;
    left       : 0;
    bottom     : -6px;
    background : url(../images/curve-bottom.png) repeat-x;
}

.white-curve-top {
    @extend %fs;
    position   : absolute;
    width      : 100%;
    height     : 6px;
    left       : 0;
    top        : -6px;
    background : url(../images/curve-top.png) repeat-x;
}

.gray-curve, .gray-curve-top {
    @extend %fs;
    position : absolute;
    width    : 100%;
    height   : 8px;
    left     : 0;
}

.gray-curve {
    bottom     : -8px;
    background : url(../images/gray-curve.png) repeat-x;
}

.gray-curve-top {
    top        : -8px;
    background : url(../images/gray-curve-bottom.png) repeat-x;
}

/* Main categories */

#main-categories {
    background     : url(../images/main-categories.png) top left repeat-x;
    margin-top     : 113px;
    z-index        : 11;
    text-align     : center;
    padding-bottom : 10px;

    @include xs-screen {
        display : none;
    }

    #main-categories-bottom {
        position   : absolute;
        width      : 100%;
        height     : 48px;
        left       : 0;
        bottom     : -8px;
        background : url(../images/main-categories-bottom.png) top left repeat-x;
    }
}

.main-category-item {
    display         : inline-block;
    position        : relative;
    padding-top     : 60px;
    min-width       : 56px;
    color           : #fff !important;
    text-decoration : none !important;
    text-transform  : uppercase;
    font-size       : 12px;
    margin-top      : 12px;

    @include smallest-screen {
        font-size : 11px;
    }

    span {
        display  : block;
        position : absolute;
        width    : 100%;
        height   : 56px;
        left     : 0;
        top      : 0;
        display  : none;
    }

    &:hover, &.active {
        color      : #ffe100 !important;
        background : none !important;

        span {
            display : block;
        }
    }
}

/* Slides */

#slides {
    border-bottom : solid 1px #4b4b4b;
    background    : url(../images/slides-bg.png);
    overflow      : hidden;

    #pizza-girl {
        background : url(../images/pizza-girl.png) bottom center no-repeat;
    }

    .container {
        @include small-screen {
            padding : 0;
        }
    }

    .slides-left {
        width          : 320px;
        text-align     : center;
        padding-bottom : 230px;
        margin-left    : -55px;

        @include sm-screen {
            margin-left : -25px;
        }

        @include xs-screen {
            margin-left : -15px;
        }

        @include small-screen {
            width       : 100%;
            margin-left : 0;
        }

        .delivery-title {
            height     : 28px;
            background : url(../images/slides-title.png) center no-repeat;
            margin-top : 15px;
        }

        .delivery-60 {
            font-family    : 'BebasNeue', 'Arial';
            color          : #c32b2a;
            font-weight    : bold;
            text-transform : uppercase;
            line-height    : 67px;
            font-size      : 65px;
            margin-top     : -3px;

            @include xs-screen {
                font-size   : 45px;
                line-height : 47px;
                margin-top  : 0;
            }

            span {
                font-size : 54px;

                @include xs-screen {
                    font-size   : 34px;
                    line-height : 36px;
                }
            }
        }

        .delivery-sub {
            font-size   : 18px;
            line-height : 22px;
            margin-top  : -12px;

            @include xs-screen {
                margin-top : -6px;
            }
        }
    }

    #index-slide {
        position   : absolute;
        height     : 100%;
        left       : 320px;
        top        : 0;
        visibility : hidden;

        @include small-screen {
            position : relative;
            float    : left;
            height   : 250px;
            left     : auto;
            top      : auto;
            width    : 100% !important;
        }

        .swiper-pagination {
            width       : 200px;
            left        : 50%;
            margin-left : -100px;
            bottom      : 11px;

            @include sm-screen {
                width       : 100%;
                bottom      : 50px;
                margin-left : 0;
                left        : 0;
            }

            .swiper-pagination-bullet {
                height     : 6px;
                width      : 6px;
                margin     : 0 3px;
                background : #fff;
                opacity    : .5;

                &.swiper-pagination-bullet-active {
                    opacity : 1;
                }
            }
        }

        .slide-item {
            @extend %div100;
            height              : 100%;
            background-size     : cover;
            background-position : center;
            background-repeat   : no-repeat;

            @include sm-screen {
                background-size : contain;
            }

            @include small-screen {
                height : 250px !important;
            }

            .red-button {
                display     : block;
                position    : absolute;
                height      : 31px;
                width       : 140px;
                text-align  : center;
                right       : 30px;
                bottom      : 15px;
                font-size   : 15px;
                line-height : 31px;

                @include sm-screen {
                    padding      : 0 16px;
                    height       : 23px;
                    line-height  : 23px;
                    font-size    : 13px;
                    right        : 50%;
                    margin-right : -70px;
                }
            }
        }
    }
}

#prev, #next, #prev-action, #next-action {
    width      : 20px;
    height     : 26px;
    background : url(../images/nav.png) no-repeat;
    margin-top : -13px;
}

#prev-action, #next-action {
    background : url(../images/black-nav.png) no-repeat;
    opacity    : 0.8;
}

#next-review, #prev-review {
    width      : 20px;
    height     : 26px;
    background : url(../images/black-nav.png) no-repeat;
    margin-top : -13px;
}

#next-review {
    right               : 0;
    background-position : -20px 0;
}

#prev-review {
    left : 0;
}

#prev, #prev-action {
    left : 30px;
}

#next, #next-action {
    right               : 30px;
    background-position : -20px 0;
}

/* Index food list */

.i-menu-list {
    z-index : 1;
}

#index-menu-list {
    margin-top     : 20px;
    padding-bottom : 30px;
}

/* Index news */

#index-news {
    padding    : 30px 0 35px;
    background : url(../images/index-news-bg.jpg) repeat-x;

    .col-sm-4 {
        @include smallest-screen {
            width       : 100%;
            margin-left : 0;
        }
    }

    h3 {
        color : #fff;
    }

    .index-news-item {
        display    : inline-block;
        position   : relative;
        text-align : center;
        margin-top : 23px;

        img {
            max-width          : 100%;
            -webkit-box-shadow : 10px 10px 21px -2px rgba(0, 0, 0, 0.7);
            -moz-box-shadow    : 10px 10px 21px -2px rgba(0, 0, 0, 0.7);
            box-shadow         : 10px 10px 21px -2px rgba(0, 0, 0, 0.7);
        }

        a {
            display  : block;
            position : absolute;
            right    : 15px;
            bottom   : 15px;
        }
    }
}

/* Actions left */

#actiions-title {
    margin-top : 30px;
    text-align : center;
}

#wrapper {
    margin-top : 45px;

    @include xs-screen {
        margin-top : 35px;
    }
}

#actions-list {
    @extend %div100;
    text-align : center;

    .action-banner {
        display    : inline-block;
        position   : relative;
        @extend %fs;
        margin-top : 15px;

        a {
            display  : block;
            position : absolute;
            right    : 15px;
            bottom   : 15px;
            z-index  : 1;
        }

        &:first-child {
            margin-top : 10px;
        }

        img {
            width     : 100%;
            max-width : 450px;
        }
    }
}

/* Breadcrumbs */

#breadcrumbs {
    color     : #afafaf;
    font-size : 12px;

    @include xs-screen {
        margin-top : 30px;
    }

    a {
        text-decoration : none !important;
        color           : #afafaf !important;

        &:hover {
            text-decoration : underline !important;
        }
    }
}

#page-title {
    h1 {
        text-align : left;
        margin-top : 8px;

        &.no-line {
            margin-left  : 0;
            margin-right : 0;

            &:before {
                display : none;
            }

            &:after {
                display : none;
            }
        }
    }
}

/* Inner menu */

.inner-menu-holder {
    @include xs-screen {
        width : 100%;
    }
}

.inner-content {
    @include xs-screen {
        width : 100%;
    }
}

#inner-menu {
    background : #fff;
    padding    : 35px 15px;
    text-align : center;

    &.account-menu {
        border        : solid 1px #ececec;
        float         : none;
        margin-bottom : 60px;
        padding       : 0;

        & ul {
            margin-top : 0;

            & li {
                border-bottom : solid 1px #ececec;
                text-align    : left;

                &.active {
                    background : #ffe948;
                }

                & a {
                    display        : block;
                    padding-left   : 25px;
                    text-transform : none;

                    & strong {
                        color : #c32b2a;
                    }
                }
            }
        }
    }

    ul, li {
        display         : inline-block;
        width           : 100%;
        margin          : 0;
        padding         : 0;
        list-style-type : none;
        text-align      : center;
    }

    ul {
        border-top : solid 1px #969696;
        margin-top : 22px;
    }

    li {
        border-bottom : solid 1px #969696;
    }

    a {
        display         : block;
        color           : #4b4b4b !important;
        text-transform  : uppercase;
        text-decoration : none !important;
        padding         : 11px 0;

        @include sm-screen {
            padding : 8px 0;
        }

        &:hover, &.active {
            background : #f7f7f7;
        }
    }
}

.no-lp {
    padding-left : 0;

    @include xs-screen {
        padding-left : 15px;
    }
}

.look-all {
    background : url(../images/pixel.png) center repeat-x;
    text-align : center;

    a, span {
        display    : inline-block;
        padding    : 0 5px;
        color      : #4b4b4b !important;
        background : url(../images/bg.png);
    }

    a {
        text-decoration : underline !important;

        &:hover {
            text-decoration : none !important;
            color           : #c32b2a !important;
        }
    }
}

/* Zone */

#zone {
    margin-top         : 50px;
    background         : #fff;
    padding            : 20px 0 22px;
    z-index            : 2;
    -webkit-box-shadow : 0px -15px 31px -5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow    : 0px -15px 31px -5px rgba(0, 0, 0, 0.5);
    box-shadow         : 0px -15px 31px -5px rgba(0, 0, 0, 0.5);

    h3 {
        margin-bottom : 25px;
    }

    .col-xs-6 {
        @include smallest-screen {
            width : 100%;
        }
    }

    #zone-map {
        img {
            width : 100%;
        }
    }

    .map-item {
        padding : 20px 10px 20px 20px;

        @include sm-screen {
            padding : 15px 10px 15px 20px;
        }

        &.green-square {
            border : dashed 1px #969696;

            @include smallest-screen {
                margin-top : 15px;
            }

            strong {
                color : #45a224;
            }
        }

        &.red-square {
            border-left : dashed 1px #969696;

            strong {
                color : #c32b2a;
            }
        }

        strong {
            font-weight : normal;
        }

        .green-bullet, .red-bullet {
            position : absolute;
            width    : 19px;
            left     : -10px;
        }

        .green-bullet {
            height     : 67px;
            bottom     : 0;
            background : url(../images/green-bullet.png) no-repeat;
        }

        .red-bullet {
            height     : 26px;
            bottom     : 37px;
            background : url(../images/red-bullet.png) no-repeat;
        }

        .red-square-bottom {
            @extend %fs;
            position      : absolute;
            width         : 1000px;
            left          : 0;
            bottom        : 0;
            height        : 0;
            border-bottom : dashed 1px #969696;
        }
    }

    .faq-link {
        margin-top : 22px;

        @include sm-screen {
            margin-top : 15px;
        }

        a {
            color           : #4b4b4b !important;
            text-decoration : underline !important;

            &:hover {
                color           : #c32b2a !important;
                text-decoration : none !important;
            }
        }
    }
}

/* Content */

.content {
    p {
        margin-top : 12px;
    }

    ul, li {
        list-style-type : none;
        margin          : 0;
        padding         : 0;
    }

    li {
        margin-left : 15px;
    }
}

/* About */

#about {
    padding : 40px 0;
    z-index : 1;

    @include md-screen {
        padding : 35px 0 45px;
    }

    @include sm-screen {
        padding-bottom : 40px;
    }

    @include xs-screen {
        padding : 35px 0 30px;
    }

    h3 {
        margin-bottom : 20px;

        @include xs-screen {
            margin-bottom : 15px;
        }
    }

    .read-more {
        margin-top : 15px;

        a {
            display         : inline-block;
            text-decoration : none !important;
            color           : #646464 !important;
            padding-right   : 13px;
            background      : url(../images/down.png) center right no-repeat;

            &:hover {
                color : #a82f2e !important;
            }
        }
    }
}

/* Footer categories */

.wood-shadow-holder {
    overflow : hidden;

    div {
        position           : absolute;
        width              : 150%;
        left               : -25%;
        top                : 0;
        height             : 100%;
        -webkit-box-shadow : inset 0px 0px 25px 18px rgba(0, 0, 0, 0.65);
        -moz-box-shadow    : inset 0px 0px 25px 18px rgba(0, 0, 0, 0.65);
        box-shadow         : inset 0px 0px 25px 18px rgba(0, 0, 0, 0.65);
    }
}

.top-shadow-holder {
    overflow : hidden;

    div {
        position           : absolute;
        width              : 150%;
        left               : -25%;
        top                : 0;
        height             : 100%;
        -webkit-box-shadow : inset 0px 18px 22px -3px rgba(0, 0, 0, 0.5);
        -moz-box-shadow    : inset 0px 18px 22px -3px rgba(0, 0, 0, 0.5);
        box-shadow         : inset 0px 18px 22px -3px rgba(0, 0, 0, 0.5);
    }
}

#footer-categories {
    text-align : center;
    background : url(../images/wood.jpg) top left repeat-x;
    padding    : 27px 0 50px;

    h3 {
        color : #fff;
    }
}

/* Footer info */

#footer-info {
    padding : 25px 0 30px;

    @include xs-screen {
        padding : 20px 0 25px;
    }

    .feedback-title {
        @include xs-screen {
            text-align : center;
        }
    }

    .feedback-input {
        margin-top : 3px;

        input[type=text] {
            display     : block;
            @extend %div100;
            border      : solid 1px #c8c8c8;
            font-family : 'Arial';
            font-size   : 12px;
            background  : #fff;
            padding     : 1px 7px 2px;
        }
    }

    .feedback-button {
        margin-top : 6px;

        @include xs-screen {
            padding-bottom : 25px;
            text-align     : center;
        }
    }

    .footer-nav {
        @include small-screen {
            width : 100%;
        }

        table {
            float : right;

            @include xs-screen {
                float : none;
            }

            @include small-screen {
                width      : 100%;
                text-align : center;
            }

            tr {
                td {
                    padding-bottom : 10px;
                    vertical-align : top;

                    @include small-screen {
                        width          : 50%;
                        padding-bottom : 5px;
                    }

                    @include tiny-screen {
                        width      : auto;
                        text-align : left;
                    }

                    &:first-child {
                        padding-right : 17px;
                    }
                }
            }

            a {
                display         : inline-block;
                color           : #4b4b4b !important;
                text-decoration : none !important;

                &:hover {
                    color : #c32b2a !important;
                }
            }
        }
    }

    #footer-contacts-info {
        @include small-screen {
            width : 100%;
        }
    }

    .phones {
        text-align : right;
        margin     : -3px 0 0 0;

        @include small-screen {
            text-align : center;
        }
    }

    .schedule {
        text-align : right;
        margin     : 7px 0 0 0;

        @include small-screen {
            text-align : center;
        }

        p:nth-child(2) {
            margin-top : 10px;
        }
    }

    .footer-socials {
        @include small-screen {
            margin-right : calc(50% - 111px);
        }
    }

    .footer-socials-title {
        margin-right : 4px;
    }
}

/* Pagination */

.pagination {
    margin : 10px 0 40px;
}

.pagination > li > a, .pagination > li > span {
    color      : #4b4b4b !important;
    padding    : 3px 7px;
    border     : none;
    margin     : 0 3px;
    background : none;
}

.pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover {
    background : none;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    border     : none;
    background : #c32b2a;
    color      : #fff !important;
}

/* Footer */

footer {
    background  : url(../images/gray.png) repeat-x;
    color       : #fff;
    line-height : 41px;

    .col-xs-6 {
        @include smallest-screen {
            width       : 100%;
            line-height : 24px;

            p {
                text-align : center;

                &.copyright {
                    margin-top : 5px;
                }

                &.made-in {
                    margin-bottom : 6px;
                }
            }
        }
    }

    .made-in {
        text-align : right;

        a {
            color           : #fff !important;
            text-decoration : underline !important;

            &:hover {
                text-decoration : none !important;
            }
        }
    }
}

#hover-images {
    position : absolute;
    width    : 1px;
    height   : 1px;
    left     : -100px;
    top      : -100px;
    overflow : hidden;

    .hover-7 {
        background : url(../images/facebook-hover.png);
    }

    .hover-8 {
        background : url(../images/vk-hover.png);
    }

    .hover-9 {
        background : url(../images/instagram-hover.png);
    }
}

/* Page loader */

#bg {
    position   : fixed;
    width      : 100%;
    height     : 100%;
    left       : 0;
    top        : 0;
    bottom     : 0;
    right      : 0;
    z-index    : 999;
    background : #fff;
}

#loader {
    z-index : 3000;
}

.pageload-overlay {
    position   : fixed;
    width      : 100%;
    height     : 100%;
    top        : 0;
    left       : 0;
    visibility : hidden;
}

#news-image-loader {
    position : absolute;
}

.pageload-overlay.show {
    visibility : visible;
}

.pageload-overlay svg {
    position       : absolute;
    top            : 0;
    left           : 0;
    pointer-events : none;
}

.pageload-overlay svg path {
    fill : #fff;
}

#shop-loader {
    &.pageload-overlay::after,
    &.pageload-overlay::before {
        display : none !important;
    }
}

.pageload-overlay::after,
.pageload-overlay::before {
    content            : '';
    position           : fixed;
    width              : 20px;
    height             : 20px;
    top                : 50%;
    left               : 50%;
    margin             : -10px 0 0 -10px;
    border-radius      : 50%;
    visibility         : visible;
    opacity            : 1;
    z-index            : 1000;
    -webkit-transition : opacity 0.15s, visibility 0s 0.15s;
    transition         : opacity 0.15s, visibility 0s 0.15s;
}

.pageload-overlay::after {
    background        : #c32b2a;
    -webkit-transform : translateX(-20px);
    transform         : translateX(-20px);
    -webkit-animation : moveRight 0.6s linear infinite alternate;
    animation         : moveRight 0.6s linear infinite alternate;
}

.pageload-overlay::before {
    background        : #ffe100;
    -webkit-transform : translateX(20px);
    transform         : translateX(20px);
    -webkit-animation : moveLeft 0.6s linear infinite alternate;
    animation         : moveLeft 0.6s linear infinite alternate;
}

@-webkit-keyframes moveRight {
    to {
        -webkit-transform : translateX(20px);
    }
}

@keyframes moveRight {
    to {
        transform : translateX(20px);
    }
}

@-webkit-keyframes moveLeft {
    to {
        -webkit-transform : translateX(-20px);
    }
}

@keyframes moveLeft {
    to {
        transform : translateX(-20px);
    }
}

.pageload-loading.pageload-overlay::after,
.pageload-loading.pageload-overlay::before {
    opacity            : 1;
    visibility         : visible;
    -webkit-transition : opacity 0.3s;
    transition         : opacity 0.3s;
}

/* Popup */

#popup {
    position   : fixed;
    top        : -100%;
    bottom     : -100%;
    left       : -100%;
    right      : -100%;
    z-index    : 9998;
    background : #000;
    opacity    : 0;

    &.popup-state-open {
        visibility : visible;
    }

    &.popup-state-close {
        visibility : hidden;
    }
}

#faq-popup, #vacancy-popup {
    position    : absolute;
    width       : 300px;
    z-index     : 9999;
    left        : 50%;
    margin-left : -150px;
    display     : none;

    @include smallest-screen {
        width       : 90%;
        left        : 5%;
        margin-left : 0;
    }

    .popup-content {
        @extend %div100;
        background    : #fff;
        border-radius : 5px;
    }
}

.popup-title {
    @extend %div100;
    background              : #c8c8c8;
    font-weight             : bold;
    border-top-left-radius  : 5px;
    border-top-right-radius : 5px;
    padding                 : 0 10px;

    p {
        margin : 8px 0;
    }
}

.popup-input {
    @extend %div100;
    padding    : 0 10px;
    margin-top : 9px;

    input[type=text] {
        display       : block;
        @extend %div100;
        background    : none;
        border        : none;
        border-bottom : solid 1px #969696;
        font-family   : 'Arial';
        font-size     : 12px;
    }
}

.popup-button {
    padding    : 15px 10px;
    @extend %div100;
    text-align : right;

    a {
        height      : 31px;
        line-height : 31px;
    }
}

.inner-content {
    position : relative;

    @include xs-screen {
        padding-top: 210px;
    }
}

.product-size-select {
    height : 26px;
}

.product-size-select-one {
    opacity : 0;
}

.index-container {
    & .cart-mini {
        top : -26px;
    }
}

.white-button {
    border-radius   : 0;
    display         : inline-block;
    padding         : 0 16px;
    height          : 23px;
    line-height     : 22px;
    font-size       : 12px;
    text-transform  : uppercase;
    background      : #fff;
    border          : 1px solid #c32b2a;
    color           : #c32b2a !important;
    text-decoration : none !important;
    transition      : 0.3s;
}

.cart {
    h4 {
        display     : inline-block;
        position    : relative;
        font-family : 'Arial', sans-serif;
        font-size   : 24px;
        font-weight : bold;
        color       : #4b4b4b;
        line-height : 38px;
        margin      : 20px 0 0 0;
    }

    &-products-list {
        border-bottom : 1px solid #c8c8c8;
        margin-bottom : 30px;

        &-item {
            margin-bottom : 15px;

            &-image {
                border : 1px solid #c8c8c8;
                width  : 100%;
            }

            &-title {
                font-family    : 'BebasNeue', 'Arial', sans-serif;
                font-size      : 24px;
                font-weight    : bold;
                color          : #c32b2a;
                display        : inline-block;
                line-height    : 24px;
                margin         : 0;
                position       : relative;
                text-transform : uppercase;

                &:before {
                    content  : '-';
                    position : absolute;
                    left     : -12px;
                    top      : -2px;
                }

                &:after {
                    content  : '-';
                    position : absolute;
                    right    : -12px;
                    top      : -2px;
                }
            }

            &-description {
                border-bottom : 1px solid #c8c8c8;
                height        : 110px;
                margin-bottom : 15px;
            }

            &-price {
                font-family : 'BebasNeue', 'Arial', sans-serif;
                font-size   : 24px;
                font-weight : bold;
                color       : #c32b2a;
                display     : inline-block;
                line-height : 24px;
            }

            &-delete {
                color           : #969696;
                text-decoration : underline;
            }
        }
    }

    &-total {
        & p {
            & span {
                color       : #4b4b4b;
                font-family : 'BebasNeue', 'Arial', sans-serif;
                font-size   : 24px;
            }
        }

        &-limit-error {
            color   : #c32b2a;
            display : none;
        }
    }

    &-actions {
        margin-top : 30px;

        & .red-button {
            display      : inline-block;
            margin-right : 8px;
            height       : 31px;
            line-height  : 31px;
            font-size    : 15px;
            padding      : 0 20px;
        }

        & .white-button {
            display      : inline-block;
            margin-right : 8px;
            height       : 31px;
            line-height  : 31px;
            font-size    : 15px;
            padding      : 0 20px;
        }
    }

    &-mini {
        background    : #45a224 url('../images/basket.png') no-repeat 25px center;
        border-radius : 45px;
        color         : #fff;
        font-size     : 12px;
        height        : 90px;
        min-width     : 90px;
        position      : fixed;
        right         : 20px;
        z-index       : 1999;
        bottom        : 20px;

        &-count {
            background    : #c32b2a;
            border-radius : 16px;
            color         : #fff;
            line-height   : 32px;
            height        : 32px;
            position      : absolute;
            right         : 0;
            text-align    : center;
            width         : 32px;
        }

        &-holder {
            display      : none;
            padding-left : 90px;
            padding-top  : 16px;
        }

        &:hover {
            width : 260px;

            .cart-mini-holder {
                display : block;
            }
        }

        &-link {
            color           : #c32b2a;
            text-decoration : underline;

            &:hover {
                text-decoration : none;
            }
        }
    }
}

.modal {
    &-happypizza {
        & .modal-header {
            background              : #c32b2a;
            border-top-left-radius  : 6px;
            border-top-right-radius : 6px;
            color                   : #fff;

            & button {
                color   : #fff;
                opacity : .75;
            }
        }

        & .modal-body {
            padding-top : 40px;

            & input {
            }

            & p {
                font-size : 12px;
            }

            & .error {
                margin-top : 20px;
                font-size  : 12px;
                color      : #c32b2a;
            }
        }

        & .modal-footer {
            text-align : center;

            & .red-button {
                display      : inline-block;
                margin-right : 8px;
                height       : 31px;
                line-height  : 31px;
                font-size    : 15px;
                padding      : 0 20px;
            }

            & p {
                font-size  : 9px;
                margin-top : 10px;
                text-align : left;
            }
        }
    }

    &.modal-happypizza-white {
        & .modal-header {
            background    : #fff;
            border-bottom : none;
            color         : #c32b2a;

            & button {
                color   : #c32b2a;
                opacity : .75;
            }
        }

        .modal-body {
            border-bottom : none;
        }

        & .modal-title {
            text-align : center;
            margin-top : 20px;
            //text-transform : uppercase;
        }
    }
}

.menu-list-count {
    position    : absolute;
    width       : 71px;
    right       : 10px;
    top         : 0;
    height      : 26px;
    line-height : 25px;
    color       : #4b4b4b;
    border      : solid 1px #c9c9c9;

    span {
        display    : inline-block;
        text-align : center;

        &.minus, &.plus {
            width  : 17px;
            cursor : pointer;

            &:hover {
                color      : #fff;
                background : #c32b2a;
            }
        }

        &.ml-count {
            width   : 26px;
            padding : 0;
        }

        &.minus {
            color        : #c8c8c8;
            border-right : solid 1px #c9c9c9;
        }

        &.plus {
            border-left : solid 1px #c9c9c9;
            color       : #4b4b4b;
        }
    }
}

.vertical-alignment-helper {
    display : table;
    height  : 100%;
    width   : 100%;
}

.vertical-align-center {
    display        : table-cell;
    vertical-align : middle;
}

.modal-content {
    width  : inherit;
    height : inherit;
    margin : 0 auto;
}

.cart-mini.opened {
    width : 260px;
}

.cart-mini.opened .cart-mini-holder {
    display : block;
}

.help-block {
    display   : none;
    font-size : 11px;
}

.has-error .help-block {
    display : inline-block;
}

.footer-socials-mobile {
    margin-bottom : 10px;
    text-align    : center;

    & .socials {
        vertical-align : middle;
    }
}

#login-modal {
    & a {
        color : #4b4b4b;
    }
}

.account {
    &-data {
        color       : #4b4b4b;
        font-family : Arial, Helvetica, sans-serif;
        font-size   : 15px;

        & .row {
            border-bottom : solid 1px #ececec;
            line-height   : 42px;

            &.no-border {
                border : none;
            }

            & a {
                color           : #4b4b4b;
                font-size       : 12px;
                text-decoration : underline;
            }
        }
    }

    &-orders {
        & .table-orders {
            margin-top : 35px;

            & thead {
                background : #c32b2a;
                color      : #fff;
            }
        }
    }

    &-wallet {
        & .wallet-state {
            background   : #ffe948;
            border       : 2px solid #c32b2a;
            font-size    : 15px;
            font-weight  : bold;
            line-height  : 60px;
            padding-left : 15px;
            margin-top   : 25px;

            & span {
                color : #c32b2a;
            }

            & a {
                margin-right : 10px;
                margin-top   : 10px;
            }
        }
    }

    &-input {
        margin-top : 5px;
    }

    &-phones {
        margin-top : 5px;

        & input {
            margin-bottom : 5px;
        }
    }
}

.btn-group-happypizza {
    & .btn-active {
        background : #c32b2a;
        border     : 1px solid #ffff05;
        color      : #fff;
    }

    & .btn-left {
        border-top-left-radius    : 34px;
        border-bottom-left-radius : 34px;
    }

    & .btn-right {
        border-top-right-radius    : 34px;
        border-bottom-right-radius : 34px;
    }
}

.delivery-courier {
    .dropdown-menu {
        li {
            color    : #969696;
            cursor   : pointer;
            padding  : 5px 35px;
            position : relative;

            &.divider {
                padding : 0;
            }

            &:before {
                content       : '';
                display       : block;
                position      : absolute;
                height        : 16px;
                width         : 16px;
                background    : #fff;
                left          : 10px;
                border        : 1px solid #c32b2a;
                border-radius : 16px;
                top           : 32px;
            }

            &:hover {
                &:after {
                    content       : '';
                    display       : block;
                    position      : absolute;
                    height        : 12px;
                    width         : 12px;
                    background    : #c32b2a;
                    left          : 12px;
                    border-radius : 15px;
                    top           : 34px;
                }
            }

            &.selected {
                &:after {
                    content       : '';
                    display       : block;
                    position      : absolute;
                    height        : 12px;
                    width         : 12px;
                    background    : #c32b2a;
                    left          : 12px;
                    border-radius : 15px;
                    top           : 34px;
                }
            }
        }
    }

    .dropdown {
        & button {
            width         : 100%;
            background    : #fff;
            border        : 1px solid #ccc;
            border-radius : 4px;
            height        : 34px;
            text-align    : left;

            & .caret {
                float        : right;
                margin-right : 10px;
                margin-top   : 7px;
            }
        }
    }
}

@media (min-width : 992px) {
    .modal-xlg {
        width : 1000px;
    }
}

.header-content {
    .navbar {
        z-index     : 10;
        margin-left : -16px;

        &-toggle {
            padding : 0;
            margin  : 10px 0 0 10px;
        }

        &-collapse {
            background : #323232;
            margin-top : 14px;
            padding    : 0;
            position   : absolute;

            & li {
                border-bottom : 1px solid #6a6a6a;
                padding       : 0 15px 0 15px;

                &:last-child {
                    border : none;
                }

                & a, span {
                    color       : #fff;
                    line-height : 40px;
                    padding     : 0;
                }
            }
        }

        &-nav {
            margin : 0;

            & ul {
                list-style   : none;
                margin-left  : 0;
                padding-left : 10px;
            }
        }
    }

    .icon-bar {
        background : #fff;
    }
}

#questinaire {
    height     : 375px;
    overflow   : hidden;
    transition : 0.3s;

    &.opened {
        height : auto;
    }

    & + a {
        color        : #4b4b4b;
        margin-right : 15px;
    }
}

.error {
    color : #c32b2a;
}

.tooltip-inner {
    min-width : 150px;
}

.account-informer {
    border    : 2px solid #c32b2a;
    margin    : 0 auto;
    max-width : 234px;
    width     : 100%;

    &-header {
        background     : #c32b2a;
        color          : #fff;
        padding-bottom : 5px;
        padding-top    : 10px;
        text-align     : center;

        & p {
            margin-bottom : 5px;

            &:nth-child(1) {
                font-size : 14px;
            }

            &:nth-child(2) {
                font-size : 12px;
            }
        }
    }

    &-body {
        background  : url('../images/informer-bg.png') center center;
        color       : #fff;
        height      : 275px;
        padding-top : 30px;
        opacity     : .9;
        text-align  : center;
    }
}

.modal-body {
    & a {
        color: #4b4b4b;
        font-size: 15px;
        margin-bottom: 15px;
        //display: block;
        text-decoration: underline;

        &:hover {
            text-decoration: none !important;
        }
    }
}

#sort-by + #menu-list {
    margin-top: 25px;
}

.menu-inner-content {
    @include xs-screen {
        margin-top: 210px;
        padding-top: 0;
    }
}